	<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>49889892103-ovn59eh79gd9csoqv9qnu3tqmc1e8mcd.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used to scan grocery receipts and capture details for AI parsing.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>owlit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>owlit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.49889892103-ovn59eh79gd9csoqv9qnu3tqmc1e8mcd</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FKGroteskTrial-Regular.otf</string>
		<string>FKGroteskTrial-Medium.otf</string>
		<string>PPEditorialNew-Light.ttf</string>
	</array>
</dict>
</plist>
